.form-container-signup {
  width: 452px;
  max-width: 100%;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .form-container-signup {
    width: 100%;
    max-width: calc(100vw - 48px);
  }
}
