header {
  background-color: #7695EC;
  display: flex;
  justify-content: start;
  padding: 27px 37px;
  max-height: 80px;

  z-index: 2;
}

header > h1 {
  font-weight: 700;
  font-size: 22px;
  color: #FFF;
  line-height: 26px;
}