header {
  background-color: #7695EC;
  display: flex;
  justify-content: start;
  padding: 27px 37px;
  max-height: 80px;
  box-sizing: border-box;
  max-width: 100%;
  width: 800px;

  z-index: 2;
}

header > h1 {
  font-weight: 700;
  font-size: 22px;
  color: #FFF;
  line-height: 26px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (max-width: 768px) {
  header {
    padding: 20px 16px;
    max-height: 60px;
    width: 100%;
  }

  header > h1 {
    font-size: 18px;
    line-height: 22px;
  }
}